// @import "normalize";
@import "layout";
@import "elements";

body {}

/* Layout */
.ba-container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

.ba-header {
	color: #f6f8fa;
	padding: 40px 20px 60px;
	margin-bottom: 30px;
	color: #ffffff;
	text-align: center;
	background: url(../img/intro.jpg) 50%;
	background-size: cover;
}

.ba-page-title {
	font-weight: 400;
	margin: 0;
}

.ba-page-subtitle {
	font-weight: 200;
}

.ba-logo {
	max-width: 100px;
}

.ba-search-form {
	display: flex;
	max-width: 600px;
	margin: 0 auto 30px;

	.input-field {
		flex-grow: 1;
		margin: 0 20px 0 0;
	}
}

.page-footer {
	padding: 0;
	margin-top: 50px;
}

.material-icons {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -1px;
}

.ba-tunes-list {
	padding-top: 20px;
	display: grid;
	grid-column-gap: 20px;

	@media screen and (min-width:640px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (min-width:1024px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media screen and (min-width:1200px) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.card {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	.card-content {
		flex-grow: 1;
	}
}

.card-image {
	.card-title {
		width: 100%;
		background: linear-gradient(to top, #000, transparent);
	}
}

.ba-tunes-wrap {
	position: relative;
	min-height: 150px;
}

.ba-preloader {
	position: absolute;
	top: 30px;
	left: calc(50% - 32px);
}

.ba-play-btn .material-icons {
	pointer-events: none;
}

.ba-play-btn {
	.ba-pause-icon {
		display: none;
	}

	&.pulse {
		.ba-pause-icon {
			display: block;
		}

		.ba-play-icon {
			display: none;
		}
	}
}