$medium: 640px;
$large: 1024px;  
$primery-color: #ff6033;
$text-color: #262626;
$body-font-family: 'Raleway', sans-serif;


@import "normalize";
@import "layout";
@import "blog";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700,900');
body{
    font:300 17px/1.5 'Raleway', sans-serif;
	color: $text-color;
}
/* Layout */
.ba-container{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
}

html{
	scroll-behavior: smooth;
}

a{
	color: $primery-color;
	text-decoration: none;
	&:hover{
		color: rgba($primery-color, 0.7);
	}
}

h1,h2,h3,h4,h5,h6{
	margin: 0 0 30px;
	line-height: 1.2;
}

h1{
	font-size: 54px;
}

h2{
font-size: 48px;
}

h3{
	font-size: 20px;
}

h4{
	font-size: 18px;
}

h5.h6{
	font-size: 18px;
}

p{
	margin: 0 0 25px;
}


/* Layout */


/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	height: 55px;
	line-height: 55px;
	background: $primery-color;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	border: none;
	padding: 0 24px;
	border-style: 0 2px 5px 0 rgba(0,0,0,.5);
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background-color: darken($primery-color, 15%);
	color: #fff;
}

.ba-button{
	&--gallery{
		background: #5585a2;
		min-width: 200px;
		&:hover{
			background: darken(#5585a2, 15%);
		}
	}
	&--blog{
		background: #f72b3b;
		min-width: 200px;
		&:hover{
			background: darken(#f72b3b, 15%);
		}
		@media screen and (min-width: $large){
			padding-bottom: 120px;
		}
	}
	&--subscribe{
		background: #96b92c;
		min-width: 170px;
		&:hover{
			background: darken(#96b92c, 15%);
		}
	}
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	padding: 10px 15px;
	height: 55px;
	border: 1px solid $text-color;
	background: #fff;
	border-radius: 0px;
	font-size: 15px;
	color: $text-color;
	&::placeholder{
		color: rgba($text-color,0.5);
	}
}

textarea{
	height: auto;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
	outline: none;
	border-color: #70bfff; 
}
textarea {
	resize: none;
}

.ba-intro{
	background: #fff url(../img/intro-bg.jpg) no-repeat 50%;
	background-size: cover;
}

.ba-intro-inner{
	padding: 140px 0 200px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: flex-start; 
	max-width: 370px;
}

.ba-header{
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	right: 0;
	padding-bottom: 20px;
	background: linear-gradient(to bottom, rgba(255,255,255,1), transparent);
}

.ba-header-bar{
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
	padding-top: 50px;
	align-items: center;
}

.ba-menu{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.ba-menu li{
	padding-left: 36px;
	line-height: 1;
}
@media screen and (min-width: 767px){
	.ba-menu-toggle{
		display: none;
	}
}
@media screen and (max-width: 767px){
	.ba-logo{
		position: relative;
		z-index: 2;
	}
	.ba-menu{
	display: block;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 250px;
	background: rgba(#fff,0.95);
	padding: 150px 30px 30px 0;

	transition: transform 0.3s;
	transform: translateX(-100%)
	}
	
	.ba-menu.open{
		transform: translateX(0);
	}
	.ba-menu-toggle{
		padding: 0;
		background: none;
		border: none;
		line-height: 1;
		height: auto;
		color: $text-color;
		box-shadow: none;
		&:hover{
			background: none;
			color: $primery-color;
		}
	}
	.ba-menu-toggle svg{
		fill: currentColor;
	}
}
.ba-menu li{
	padding-left: 33px;
	line-height: 1;
}

.ba-menu a{
	font-size: 16px;
	color: $text-color;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}
.ba-menu a:after{
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: currentColor;
	position: absolute;
	left: 0;
	/*top: 100%;*/
	top: -7px;
	transform: scaleX(0);
	transform-origin: 0 50%;
	/*opacity: 0;*/
	transition: opacity 0.3s transform 0.3s;
}
.ba-menu a:hover{
	color: $primery-color;
}
.ba-menu a:hover:after{
	opacity: 1;
	transform: scaleX(1);
}
.ba-page-title{
	font-size: 60px;
	font-weight: 900;
	margin-bottom: 15px;

}
@media screen and (max-width: 767px){
	.ba-page-title{
		font-size: 36px;
	}
}

.ba-scroll{
	position: absolute;
	bottom: 70px;
	width: 24px;
	height: 40px;
	background: url(../img/scroll.jpg);
	left: 50%;
	margin-left: -12px;
	&:hover{
		opacity: 0.5;
	}
}

.ba-section--about{
	background: #00b2b2;
	color: #fff;
	@media screen and (min-width: $large){
		padding: 75px 0	15px;
	}
}

.ba-section--gallery{
	background: #ffe92f;
	@media screen and (max-width: $large){
		padding-bottom: 120px;
	}
}

.ba-section-title{
	text-align: center;
	font-weight: 700;
	font-style: 60px;
	margin: 0 0 20px;
}

.ba-section-title{
    text-align: center;
    font-weight: 700;
    font-size: 90px;
    margin: 0 0 5px;

    @media screen and (min-width: $medium){
		font-size: 90px;
		margin-bottom: 20px;
	}

    &--left{
	text-align: left;
	margin: 0 0 5px;
    }
}

.ba-about-col{
	@media screen and (min-width: $large){
		order: 1;
	}
}

.ba-about-content{
	@media screen and (min-width: $large){
		padding: 90px 0 0 70px;
	}
}

.ba-about-img{
	@media screen and (min-width: $large){
		margin: -40px 0 0 -55px;
		max-width: initial;
	}
}

@import "_sevices.scss";

.ba-gallery{
	margin-bottom: 20px;
	img{
		box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.5);
		display: block;
		width: 100%;
		margin-bottom: 30px;
	}
}

.ba-section{
    padding: 40px 0;
    @media screen and (min-width: $medium){
        padding: 85px 0;
    }

    &--blog{
        background: #af7cf4;
        color: #fff;
    }
    &--servises{
        background: #70bfff;
        color: #fff;
        @media screen and (min-width: $large){
            padding: 180px 0 140px;
        }
	}
	&--subscribe{
		// background: linear-gradient(to top, rgba(255,255,255, 0.8), rgba(255,255,255, 0.8)), url(../img/7.jpg) 50% no-repeat;
		background: #fff url(../img/7.jpg) 0% 50%;
		background-size: cover;
		@media screen and (min-width: $large){
			padding: 145px 0 160px;
			background: #fff url(../img/7.jpg) 50% no-repeat;
        }
	}
	&--contact{
		background: #fff url(../img/8.jpg) 50%;
		background-size: auto 170%;
		@media screen and (min-width: $large){
			padding: 120px;
			background-size: cover;
        }
	}
}

@import "subscribe";
@import "_contact.scss";
.ba-aline-midle{
	align-items: center;
}
.ba-footer{
	padding: 32px 0;
	background: $text-color;
	color: #b9b9b9;
	text-align: center;
	font-size: 16px;
	line-height: 1;
	@media screen and (min-width: $large - 1px){
		p{
			margin: 0;
		}
	}
	
}
.ba-copyright{
	@media screen and (min-width: $large){
		text-align: left;
	}
}
.ba-madeby{
	font-size: 15px;
	em{
		font-style: normal;
		color: #ff2b58;
		font-weight: 700;
	}
	@media screen and (min-width: $large){
		text-align: right;
	}
}
@media screen and (min-width: $large - 1px){
	.ba-copyright{
		margin-bottom: 20px;
	}
	.ba-madeby{
		margin: 20px 0 0;
	}
}