lesson{
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    background-color: gray;
    font-style: italic;
    margin: 0;
    border-bottom: 6px double black;
}

timetable{
    display: block;
    max-width: 400px;
    background-color: #4286F4;
    color: #ffffff;
    padding: 20px;
    margin: 0 auto;
}

lesson:hover{
    border: 3px solid #fff;
}

lesson:active{
    background-color: #64C2F4;
}

day{
    display: block;
    font-style: italic;
    text-align: center;
    font-size: 50px;
    color: #fff;
    font: 400 26px/1.3 "Tebuchet MC", Arial, sans-serif;
}


