*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.ba-container, .ba-container-center {
  margin-left: auto;
  margin-right: auto; }

img {
  max-width: 100%;
  height: auto; }

html {
  height: 100%; }

body, html {
  min-height: 100%; }

/* Text align */
.ba-text-left {
  text-align: left; }

.ba-text-right {
  text-align: right; }

.ba-text-center {
  text-align: center; }

/* Absolute centering */
.ba-relative {
  position: relative;
  z-index: 1; }

/* Circle element */
.ba-circle {
  border-radius: 50%; }

/* Flex grid */
.ba-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -30px; }

.ba-row + .ba-row {
  margin-top: 30px; }

.ba-row > [class*='ba-col-'] {
  padding-left: 30px; }

.ba-row--collapse {
  margin-left: 0; }

.ba-row--collapse + .ba-row--collapse {
  margin-top: 0; }

.ba-row--collapse > [class*="ba-col-"] {
  padding-left: 0; }

.ba-col-12 {
  width: 100%; }

.ba-col-11 {
  width: 91.6666%; }

.ba-col-10 {
  width: 83.3333%; }

.ba-col-9 {
  width: 75%; }

.ba-col-8 {
  width: 66.6666%; }

.ba-col-7 {
  width: 58.33%; }

.ba-col-6 {
  width: 50%; }

.ba-col-5 {
  width: 41.66%; }

.ba-col-4 {
  width: 33.333%; }

.ba-col-3 {
  width: 25%; }

.ba-col-2 {
  width: 16.666%; }

.ba-col-1 {
  width: 8.3333%; }

/* Phone landscape and bigger */
.ba-col-small-12 {
  width: 100%; }

.ba-col-small-11 {
  width: 91.6666%; }

.ba-col-small-10 {
  width: 83.3333%; }

.ba-col-small-9 {
  width: 75%; }

.ba-col-small-8 {
  width: 66.6666%; }

.ba-col-small-7 {
  width: 58.33%; }

.ba-col-small-6 {
  width: 50%; }

.ba-col-small-5 {
  width: 41.66%; }

.ba-col-small-4 {
  width: 33.333%; }

.ba-col-small-3 {
  width: 25%; }

.ba-col-small-2 {
  width: 16.666%; }

.ba-col-small-1 {
  width: 8.3333%; }

/* Tablet and bigger */
@media (min-width: 640px) {
  .ba-col-medium-12 {
    width: 100%; }
  .ba-col-medium-11 {
    width: 91.6666%; }
  .ba-col-medium-10 {
    width: 83.3333%; }
  .ba-col-medium-9 {
    width: 75%; }
  .ba-col-medium-8 {
    width: 66.6666%; }
  .ba-col-medium-7 {
    width: 58.33%; }
  .ba-col-medium-6 {
    width: 50%; }
  .ba-col-medium-5 {
    width: 41.66%; }
  .ba-col-medium-4 {
    width: 33.333%; }
  .ba-col-medium-3 {
    width: 25%; }
  .ba-col-medium-2 {
    width: 16.666%; }
  .ba-col-medium-1 {
    width: 8.3333%; } }

/* Desktop and bigger */
@media (min-width: 1024px) {
  .ba-col-large-12 {
    width: 100%; }
  .ba-col-large-11 {
    width: 91.6666%; }
  .ba-col-large-10 {
    width: 83.3333%; }
  .ba-col-large-9 {
    width: 75%; }
  .ba-col-large-8 {
    width: 66.6666%; }
  .ba-col-large-7 {
    width: 58.33%; }
  .ba-col-large-6 {
    width: 50%; }
  .ba-col-large-5 {
    width: 41.66%; }
  .ba-col-large-4 {
    width: 33.333%; }
  .ba-col-large-3 {
    width: 25%; }
  .ba-col-large-2 {
    width: 16.666%; }
  .ba-col-large-1 {
    width: 8.3333%; } }

@media (min-width: 1200px) {
  .ba-col-xlarge-12 {
    width: 100%; }
  .ba-col-xlarge-11 {
    width: 91.6666%; }
  .ba-col-xlarge-10 {
    width: 83.3333%; }
  .ba-col-xlarge-9 {
    width: 75%; }
  .ba-col-xlarge-8 {
    width: 66.6666%; }
  .ba-col-xlarge-7 {
    width: 58.33%; }
  .ba-col-xlarge-6 {
    width: 50%; }
  .ba-col-xlarge-5 {
    width: 41.66%; }
  .ba-col-xlarge-4 {
    width: 33.333%; }
  .ba-col-xlarge-3 {
    width: 25%; }
  .ba-col-xlarge-2 {
    width: 16.666%; }
  .ba-col-xlarge-1 {
    width: 8.3333%; } }

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -o-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px; }

.ba-header {
  color: #f6f8fa;
  padding: 40px 20px 60px;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center;
  background: url(../img/intro.jpg) 50%;
  background-size: cover; }

.ba-page-title {
  font-weight: 400;
  margin: 0; }

.ba-page-subtitle {
  font-weight: 200; }

.ba-logo {
  max-width: 100px; }

.ba-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin: 0 auto 30px; }
  .ba-search-form .input-field {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 20px 0 0; }

.page-footer {
  padding: 0;
  margin-top: 50px; }

.material-icons {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px; }

.ba-tunes-list {
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px; }
  @media screen and (min-width: 640px) {
    .ba-tunes-list {
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 1024px) {
    .ba-tunes-list {
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (min-width: 1200px) {
    .ba-tunes-list {
      -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr); } }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .card .card-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.card-image .card-title {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: -webkit-linear-gradient(bottom, #000, transparent);
  background: -o-linear-gradient(bottom, #000, transparent);
  background: linear-gradient(to top, #000, transparent); }

.ba-tunes-wrap {
  position: relative;
  min-height: 150px; }

.ba-preloader {
  position: absolute;
  top: 30px;
  left: calc(50% - 32px); }

.ba-play-btn .material-icons {
  pointer-events: none; }

.ba-play-btn .ba-pause-icon {
  display: none; }

.ba-play-btn.pulse .ba-pause-icon {
  display: block; }

.ba-play-btn.pulse .ba-play-icon {
  display: none; }

/*# sourceMappingURL=style.css.map */