@import "_normalize.scss";
@import "_layout.scss";
@import "slick.scss";


@import url('https://fonts.googleapis.com/css?family=Roboto:900%7CRaleway:400,500');

$primery-color: #ffcc00;
$text-color: #333333;

$body-font-family: Raleway, sans-serif;
$heading-font-family: Roboto, sans-serif;
$medium-gray: #666666;
$light-gray: #898f8f;

body{
	font: 400 14px/1.3 $body-font-family;
	color: $text-color;
}

h1,h2,h3,h4,h5,h5{
	font-family: $heading-font-family;
	color: $primery-color;
	font-weight: 900;
	margin: 0 0 20px;
}

p{
	margin: 0 0 20px;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-section-subtitle{
	text-align: center;
	margin: 0;
	font-family: $body-font-family;
	color: $light-gray;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
}

.ba-section-title{
	text-align: center;
	text-transform: uppercase;
	font-size: 60px;
	margin-bottom: 50px;
	line-height: 1;
	&__icon{
	display: block;
	margin: 30px auto 0;
	fill: $primery-color;
	background-color: #fff;
	position: relative;
	z-index: 2;
	outline: 7px solid #fff;
	}
	&:after{
		content: '';
		display: block;
		margin: -9px auto;
		max-width: 450px;
		height: 1px;
		background-color: $primery-color;
	}
}



.ba-crewman{
	display: flex;
	align-items: center;
	&__img,
	&__info{
		width: 50%;
	}

	&__img{
		padding-right: 80px;
		padding-left: 80px;

		img{
			border: 1px solid $primery-color;
			position: relative;
			z-index: 1;
			display: block;
		}
	}
	

	&__img-wrap{
		border: 1px solid $primery-color;
		padding: 14px;
		position: relative;

		&:before, &:after{
			content: '';
			position: absolute;
			background-color: #fff;
		}
	
		&:before{
			left: 20%;
			right: 20%;
			top: -2px;
			bottom: -2px;
		}
	
		&::after{
			top: 20%;
			bottom: 20%;
			left: -2px;
			right: -2px;
		}
	}
	&__info{
		padding: 90px 70px 70px 80px;
		border-left: 1px solid $primery-color;
		text-align: center;
	}

	&__maintitle{
		font-size: 36px;
		line-height: 0.5em;
		color: $medium-gray;
		position: relative;
		margin-bottom: 30px;
		
		&::after{
			content: '';
			position: absolute;
			background-color: $primery-color;
			width: 100px;
			height: 2px;
			display: flex;
			top: 40px;
			bottom: 0;
			right: 0;
			left: 160px;
			
		}

		&::before{
			content: '';
			position: absolute;
			border: 1px solid $primery-color;
			border-radius: 5px;
			width: 10px;
			height: 10px;
			top: 460px;
			bottom: 0;
			right: 0;
			left: -85px;
		}
	}

	&__title{
		font-size: 24px;
		line-height: 1.5em;
		color: $medium-gray;
		
		
		
	}

	 &__text{
		 font-size: 14px;
		 line-height: 2em;
		 margin-bottom: 40px;
		 position: relative;
		 display: flex;
		 flex-direction: column;
		 text-align: center;
		 margin-top: 10px;

		 &::after{
			 content: '';
			 position: absolute;
			 width: 50px;
			 height: 3px;
			 background-color: $primery-color;
			 top: 150px;
			 bottom: 0;
			 right: 0;
			 left: 188px;
			 z-index: 1;
		 }

		 &::before{
			content: '';
			position: absolute;
			width: 26px;
			height: 3px;
			background-color: $primery-color;
			border-left: 5px solid #fff;
			border-right: 5px solid #fff;
			top: 150px;
			bottom: 0;
			right: 0;
			left: 200px;
			z-index: 2;
		}
	 }
	
	 
}

.ba-button{
	color: $medium-gray;
	text-decoration: none;
	border: 1px solid $primery-color;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 1.7em;
}

.ba-socials{
	display: flex;
	justify-content: center;
	align-items: center;

	& a{
	width: 38px;
	height: 38px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $light-gray;
	margin-right: 2px;
	margin-left: 2px;

		&:hover{
			background-color: $primery-color;
		}
	}

	& svg{
		fill: currentColor;
		width: 18px;
		height: 18px;
	}
}


.ba-hidden{
	display: none;
}

.ba-section{
	padding: 50px 0;
}

@media screen and (min-width:768px) and (max-width:1023px){
	.ba-crewman__img{
		padding: 0 30px;
	}
	.ba-crewman__info{
		padding: 10px 30px;
	}
}

@media screen and (max-width:767px){
	.ba-crewman{
		display: block;
	}
	.ba-crewman__img{
		padding: 0 30px;
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
	}
	.ba-crewman__info{
		padding: 30px 0;
		border-left: none;
		border-top: 1px solid $primery-color;
		
	}
	.ba-crewman__img, .ba-crewman__info{
		width: 100%;
	}
}

@media screen and (max-width:480px){
	.ba-section-title{
		font-size: 36px;
	}
}
.ba-image-slider{
	margin-bottom: 40px;	
}

.slick-slide{
	outline: none;
}

.ba-team-slider{
	margin-bottom: 40px;
	.slick-arrow{
		position: absolute;
		z-index: 3;
		top: 50%;
		font-size: 0;
		width: 20px;
		height: 40px;
		margin-top: -21px;
		padding: 0;
		background: url('data:image/svg+xml,\
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="42" viewBox="0 0 366 1024">\
		<path fill="rgba(255,204,0)" d="M358.286 310.857q0 7.429-5.714 13.143l-224.571 224.571 224.571 224.571q5.714 5.714 5.714 13.143t-5.714 13.143l-28.571 28.571q-5.714 5.714-13.143 5.714t-13.143-5.714l-266.286-266.286q-5.714-5.714-5.714-13.143t5.714-13.143l266.286-266.286q5.714-5.714 13.143-5.714t13.143 5.714l28.571 28.571q5.714 5.714 5.714 13.143z"></path>\
	</svg>');
		border: none;
		&:hover,&:focus{
			opacity: 0.6;
			outline: none;
		}
	}
	.slick-prev{
		left: 0;
	}
	.slick-next{
		right: 0;
		transform: rotate(180deg) 
	}
}

.slick-dots{
	margin: 0;
	padding: 15px 0 0;
	list-style: none;
	position: absolute;
	top: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	li {
		padding: 0 5px;
	}
	button{
		width: 15px;
		height: 15px;
		background: $primery-color;
		font-size: 0;
		border: none;
		border-radius: 50%;
		border: 1px solid $primery-color;
		padding: 0;
		&:hover,&:focus{
			opacity: 0.6;
			outline: none;
		}
	}
	.slick-active{
		button{
			background-color: #fff;
			
		}
	}
}

.ba-intro-slider{
	&__item{
		background-size: cover;
		background-position: 50%;
	}
}

.ba-intro{
	// min-height: 100vh;
	color: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}