@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800,900');

$primary-color:#fd5c08;
$body-color:#3f3e41;
$base-font-family: 'Raleway', sans-serif;
$header-font-family: $base-font-family;
$extra-font-family:'KaushanScript', sans-serif;

$br-medium: 640px;
$br-large: 1024px;

@import "normalize";
@import "layout";
@import "elements";
@import "slick.scss";

.ba-hide{
	display: none;
}
body{
	font: 400 19px/1.3 $base-font-family;
	color: $body-color;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1210px;
}

.ba-intro{
	padding: 50px 0;
	background: #7f1a36 url(../img/bg1.jpg) 50%;
	background-size: cover;
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);

	@media screen and (min-width:640px){
		padding: 400px 0 150px;
	}

	&__body{
		max-width: 670px;
	}
}

.ba-section-title{
	margin: 0 0 10px;
	word-break: break-word;

	&--primary{
		color: $primary-color;
	}
}
.ba-subtitle{
	margin: 0;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 24px;

	@media screen and (min-width:640px){
		font-size: 38px;		
	}
}

//header
.ba-header{
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	right: 0;
	background: #FFF;
}
.ba-header-bar{
	height: 80px;	
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ba-main{
	padding-top: 80px;
}

.ba-menu{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	align-items: center;
	a{
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: space-between;
		height: 80px;
		min-width: 150px;
		padding: 16px 10px 20px;
		font: 700 13px/1 $base-font-family;
		text-transform: uppercase;
		color: $body-color; 

		position: relative;

		svg{
			fill:currentColor;
		}

		&:after{
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 0;
			border: 30px solid transparent;
			border-top-color: $primary-color;
			border-width: 10px 75px;
			opacity: 0;
			transition: opacity .3s ease-in;
		}

		&:hover, &:focus{
			background-color: $primary-color;
			color: #fff;
			&:after{
				opacity: 1;
			}
		}
	}
}
.slick-slide{
	outline: none;
}
.ba-slider-btn{
	width: 60px;
	height: 60px;
	background: $body-color;
	color: #fff;
	border: none;
	border-radius: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	&:hover, &:focus{
		outline: none;
		background-color: $primary-color;
	}
	&.slick-disable{
		opacity: 0.5;
		pointer-events: none;
	}
}

.ba-best-slider{
	&__arrows{
		position: absolute;
		z-index: 2;
		bottom: 80px;
		right: 5vw;
		display: flex;
		button + button{
			margin-left: 1px;
		}
	}
}

.ba-section-abs-title{
	position: absolute;
	top: 50px;
	left: 50%;
	z-index: 2;
	@extend .ba-content-light;
	@media screen and (min-width:$br-large){
		top: 100px;
	}
}
@media screen and (max-width: 1023px){
	.ba-menu{
		display: none;
	}
	
}
body{
	overflow-y: auto;
	overflow-x: hidden;
	overflow: hidden;
	height: 100vh;
	perspective: 1500px;
	background: $body-color;
}
.ba-offcanvas-content{
	transition: transform 0.5s ease-in;
	transition-delay: 0s;
	height: 100vh;
	overflow-y: scroll;
	position: relative;
	z-index: 1;
}
.ba-offcanvas-inner{
	position: relative;
	z-index: 1;
	height: 100vh;
	overflow-y: scroll;
}
.ba-overlay{
	position: absolute;
	z-index: 11;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(black, 0.5);
	cursor: pointer;
	visibility: hidden;
	opacity: 0;	
	transition: opacity 0.3s ease-in-out, 
				visibility 0.3s ease-in-out;
}
.ba-mob-nav{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 250px;
	z-index: 10;
	color: #fff;
	background: $primary-color;
	transition: transform 0.5s ease-in;
	transform: translateX(-100%);
	transition-delay: 0.2s;

	@media screen and (max-width:$br-large - 1px){
		&.ba-open{
			transform: translateX(0);
			transition-delay: 0s;
	
			& ~ .ba-offcanvas-content{
				transform: translate3d(100px, 0, -600px) rotateY(-20deg) perspective(1500px);

				.ba-overlay{
					opacity: 1;
					visibility: visible;
				}
			}
		}	
	}

	@media screen and (min-width:$br-large){
		display: none;
	}
}
.ba-menu-toggle{
	display: flex;
	flex-direction: column;
	align-items:stretch;
	justify-content: space-between;
	width: 30px;
	height: 24px;
	padding:0; 
	background:none;
	border: none;
	span{
		height: 3px;
		width: 100%;
		background-color: $primary-color;
		border-radius: 3px;
	}
	@media screen and (min-width:$br-large){
		display: none;
	}
}
.ba-mob-menu{
	margin: 0;
	padding: 0;
	list-style: none;
	a{
		display: block;
		padding: 10px 20px;
		color: #fff;
		svg{
			fill:currentColor;
		}
	}
	li + li{
		border-top: 1px solid rgba(#fff, 0.3);
	}
}
.ba-section{
	padding: 50px 0;
	background-size: cover;
	background-position: 50%;
	@media screen and (min-width: 640px){
		padding: 124px 0;
	}

	&--cities{
		background: #fff url(../img/bg2.png) 50%;
		background-size: cover;
	}
}

.ba-content-light{
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
}


.ba-best-slider-prev, .ba-best-slider-next{
	position: absolute;
	bottom: 80px;
	right: 5vw;
	z-index: 2;
}
.ba-best-slider-prev{
	margin-right: 61px;
}


//Hot Offers


//Cities

.ba-offer{
	padding: 100px 0;
	background: no-repeat 50% / cover;
	@media screen and (min-width:$br-large){
		padding: 200px 0 220px;
	}
	&__suptitle{
		margin: 0;
		
	}
}

.ba-cities-list{
	display: flex;
	flex-wrap: wrap;
}
.ba-city{
	position: relative;
	width: 100%;
	overflow: hidden;

	@media screen and (min-width:$br-medium){
		width: 50%; 
	}

	@media screen and (min-width:$br-large){
		width: 33%; 
	}
	
	&__price{
		position: absolute;
		left: 0;
		top: 0;
		color: #FFF;
		z-index: 2;
		padding: 30px;;
		transition: transform 0.3s ease-in-out;
	}
	&__price-label{
		font-size: 16px;
		text-transform: uppercase;
		display: block;
	}
	&__price-signt{
		font-size: 36px;
		font-weight: 800;
		color: $primary-color;
	}
	&__price-num{
		font-size: 42px;
		font-weight: 900;

	}
	&__desc{
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 2;
		background-color: rgba(#fff, 0.9);
		padding: 30px;
		color: $body-color;

		transition: transform 0.3s ease-in-out;

		@media screen and (min-width: $br-medium){
			transform: translateY(110%)
		}
		transform: translateY(110%);
		&::before{
			content: '';
			position: absolute;
			left: 30px;
			bottom: 100%;
			height: 0;
			border: solid rgba(#fff, 0.9);
			border-color: transparent transparent rgba(#fff, 0.9); 
			border-width: 0 15px 10px;	
		}
	}
	&__title{
		font-size: 34px;
		font-weight: 800;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	&__country{
		font-size: 23px;
		text-transform: uppercase;
		color: $primary-color;	
		display: block;
		margin-bottom: 5px;
	}
	&__more{
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-size: 14px;
		svg{
			margin-right: 10px;
		}
		
	}

	img{
		display: block;
		width: 100%;
		transition: transform 0.3s ease-in-out;
		transform-origin: 50% 90%;
		// transform: scale(1.2)
	}

	&__title,
	&__country,
	&__more{
		transition: 0.4s ease-in-out;
		transition-property: transform, opacity;
		transform: translateY(30px);
		opacity: 0;
	}


	&__country{
		transition-delay: 0.2s;
	}
	&__title{
		transition-delay: 0.3s;
	}
	&__more{
		transition-delay: 0.4s;
	}
	// &__title{
	// 	transition: transform 0.3s ease-in-out;
	// 	transform: translateY()
	// }
	// &__country{
	// 	transition: transform 0.3s ease-in-out;
	// }
	// &__more{
	// 	transition: transform 0.3s ease-in-out;
		
	// }
	&:hover{
		.ba-city__price{
			transform: translateY(-100%);
		}
		.ba-city__desc{
			transform: translateY(0);
		}
		.ba-city__title,
		.ba-city__country,
		.ba-city__more{
			transform: translateY(0px);
			opacity: 1;
		}
		img{
			transform: scale(1.2);
		}
	}
}
.ba-mb{
	margin-bottom: 40px;

	@media screen and (min-width:$br-large){
		margin-bottom: 100px;
	}
}
.ba-mb-large-up{
	@media screen and (max-width:$br-large - 1px){
		margin-bottom: 30px;
	}
}

#ba-map{
	width: 100%;
   height: 400px;
   background-color: grey;
}
.ba-section{
	position: relative;
	z-index: 0;
}
.ba-journeys{
	background: $primary-color;
	color: #fff;
	max-width: 270px;
	padding: 30px;
	position: relative;
	margin-bottom: 40px;
	@media screen and (min-width:$br-medium){
		margin-bottom: 82px;
	}

	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 9px;
		height: 100%;
		background-color: #fff;
		z-index: -1;
		transform: skewY(4deg);
		transform-origin: 0 0;
	}
	&__title{
		font-weight: 800;
		font-size: 38px;
		margin-bottom: 50px;
	}
	&__bottom{
		display: flex;
		flex-direction: column;
	}
	&__day{
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
	}
	&__count{
font-size: 23px;
	}
	&__dep{
		text-transform: uppercase;
		font-size: 12px;
	}
}
.ba-row--right{
	@media screen and (max-width:$br-large){
		justify-content: flex-end;
	}
}
.ba-hot-offer{
	display: flex;
	@media screen and (max-width:$br-medium){
		display: flex;
	}
	&__title{
		font-size: 30px;
		font-weight: 300;
		color: $primary-color;
		margin-bottom: 15px;
	}
	&__left{
		padding: 30px 40px;
		background: rgba(#fff, 0.9);
	}
	&__right{
		padding: 40px 30px 30px 30px;
		width: 210px;
		flex-shrink: 0;
		background: $body-color;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.ba-price{
	&__num{
		font-size: 60px;
		font-weight: 900;
		color: $primary-color;
	}
}

.ba-hot-nav-section{
	background: #ededed;
	border-bottom: 1px solid #c9c9c9;
}
.ba-hot-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.ba-hot-slider-images{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	.slick-list, .slick-track, .slick-slide{
		height: 100%;
	}
	img{
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 50%;
	}
}